.banner {
  color: white;
  object-fit: contain;
  min-height: 448px; /* minimum but grows with content */
  height: auto;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  padding-bottom: 100px; /* Added breathing space at the bottom */
  height: auto;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  padding-bottom: 0.3rem;
}

.banner__buttons {
  display: flex;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner__fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
